# Data Collection

1. Go to https://pokeapi.co/ for the pokemon api
2. Open https://www.postman.com/ and create your account
3. Copy the link provided on the homepage of pokeapi. You don't have to change it for now.
    * There should be a clickable link on the homepage of pokeapi showing exactly what you have copied. Click it and see what happens.
    * Open a new tab on chrome and paste the link you copied on the address bar. Click enter and see what happens.
    * On the postman.com page, click new -> HTTP. Check if the method is "GET", if not, choose "GET". Then paste the copied api link to the textbox following "GET".

## Task 1: Write code in python to find all pokemons, iterate the list and build a data frame with pokemons' 
* Name,
* Type 1,
* Type 2,
* Generation,
* Legendary

Hint 1: First find a directory of all pokemons, and then interate the directory to find the properties of each pokemon as requested.

Hint 2: Use an api call such as http://pokeapi.co/api/v2/pokemon/?limit=100 to explore the pokemons. Count at least 800 pokemons in your collected data. Below is an example of making api calls in python.

In [28]:
pip install requests
pip install asyncio

SyntaxError: invalid syntax (214336260.py, line 1)

In [12]:
import json
import requests
import pandas as pd

def get_data(api):
    response = requests.get(f"{api}")
    if response.status_code == 200:
        return response.json()
    else:
        return f"Hello kevdog, there's a {response.status_code} error with your request"

In [19]:
api_call_result = get_data("https://pokeapi.co/api/v2/pokemon?limit=1000000")
pokemon_api_list = api_call_result['results']

In [14]:
type(api_call_result["count"])

int

In [15]:
type(api_call_result["results"])

list

In [16]:
pokemon_df=pd.DataFrame()
pokemon_df

Empty DataFrame
Columns: []
Index: []

In [21]:
#Example: create a data frame
def concat(df1, data:list):
    entry = pd.DataFrame([data])
    res = pd.concat([df1, entry])
    return res

In [22]:
for i in range(len(pokemon_api_list)):
    name = pokemon_api_list[i]['name']
    url = pokemon_api_list[i]['url']
    pokemon_properties = get_data(url)
    types = pokemon_properties['types']
    type1= types[0]['type']['name']
    type2=None
    if len(types) > 1:
        type2= types[1]['type']['name']
        
    is_legendary = ["is_legendary"]
    species = get_data(pokemon_properties["species"]["url"])
    generation = species["generation"]["name"]
    is_legendary = species["is_legendary"]
    row = [name, type1, type2, generation, is_legendary]
    pokemon_df = concat(pokemon_df, row)
    
#     pokemon_df.append()

Hint 3: Use pandas to store and manage your pokemon as a data frame. 
Check the documentation of pandas here: 
https://pandas.pydata.org/
Check pandas tutorial for beginners here: 
ww.w3schools.com/python/pandas/default.asp.
For more examples and instructions on pandas, check the book: https://jakevdp.github.io/PythonDataScienceHandbook/

In [40]:
pokemon_df = pokemon_df.set_axis(['Name', 'Type 1', 'Type 2', 'Generation', 'Legendary'], axis=1)
pokemon_df = pokemon_df.reset_index(drop=True)

         Name Type 1  Type 2    Generation  Legendary
0   bulbasaur  grass  poison  generation-i      False
1     ivysaur  grass  poison  generation-i      False
2    venusaur  grass  poison  generation-i      False
3  charmander   fire    None  generation-i      False
4  charmeleon   fire    None  generation-i      False

         Name Type 1  Type 2    Generation  Legendary
0   bulbasaur  grass  poison  generation-i      False
0     ivysaur  grass  poison  generation-i      False
0    venusaur  grass  poison  generation-i      False
0  charmander   fire    None  generation-i      False
0  charmeleon   fire    None  generation-i      False

In [26]:
pokemon_df.describe()

             Name Type 1  Type 2
count           1      1       1
unique          1      1       1
top     bulbasaur  grass  poison
freq            1      1       1

In [35]:
pokemon_df.to_csv("kevin-pokemon-data.csv", encoding="utf-8")

In [24]:
#Write your code here to accomplish task 1
#insert more cells if needed.

## Task 2: Data Cleaning

In the input folder, there are two pokemon data documents, both in csv format. Convert each of those files in a data frame and then compare those three pokemon dataframes.
1. Are they holding the same rows? 
2. Are they holding the same columns?
3. Can we merge them? If yes, in what way?


Write python code to combine all three tables and save the result as .csv file